a {

    text-decoration: none;
}


#lasagnaimage {

    height: auto;
    width: 400px;
}

#pizzaimage {

    height: auto;
    width: 400px;
}


#spaghettiimage {

    height: auto;
    width: 300px;
}