

a {

    text-decoration: none;
}

a:visited {

    color: powderblue;
}

ul {

    box-sizing: border-box;
    list-style-type: none;
    text-align: center;
    margin: auto;
    padding: 0;
    width: 50%
}

li {

    box-sizing: border-box;
    display: inline-block;
    padding: 2% 1% 2% 1%;
}

button {

    background-color: white;
    border-color: powderblue;
    border-style: solid;
    color: powderblue;

}

#homepagetitle {

    background-color: powderblue;
    box-sizing: border-box;
    border-radius: 2em;
    color: white;
    text-align: center;
    margin: auto;
    width: 50%;
}


#lasagnaimage {

    height: auto;
    width: 400px;
}

#pizzaimage {

    height: auto;
    width: 400px;
}


#spaghettiimage {

    height: auto;
    width: 300px;
}